<!DOCTYPE html>
{% load staticfiles %}
<html lang="{{ LANGUAGE_CODE }}">
	<head>
		<meta charset="utf-8" />
		<title>{% block head_title_base %}Joyage{% block head_title %}{% endblock %}{% endblock %}</title>
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no">
    	<meta name="description" content="">
    	<meta name="author" content="">

	    <link href="{% static "bootstrap/css/bootstrap.min.css"%}" rel="stylesheet">
		<link href="{% static "css/font-awesome.min.css"%}" rel="stylesheet">
		<link href="{% static "css/main-style.css"%}" rel="stylesheet">
{#	    <link href="{% static "css/style.min.css"%}" rel="stylesheet">#}
	    <link href="{% static "css/responsive.min.css"%}" rel="stylesheet">
	    <link href="{% static "css/custom.css"%}" rel="stylesheet">
	    <link href="{% static "css/jquery-ui.css"%}" rel="stylesheet">
	    <link href="{% static "css/DateTimePicker.css"%}" rel="stylesheet">
	    <link href="{% static "css/jquery-ui.min.css"%}" rel="stylesheet">
	    <link href="{% static "css/jquery-ui.theme.min.css"%}" rel="stylesheet">
	    <link href="{% static "css/jquery.mCustomScrollbar.css"%}" rel="stylesheet">


		<script src="{% static "js/jquery-1.11.0.min.js"%}"></script>
        <script src="{% static "js/jquery-ui.js"%}"></script>
	    <script src="{% static "bootstrap/js/bootstrap.js"%}"></script>
        <script src="{% static "js/DateTimePicker.js"%}"></script>
        <script src="{% static "js/jquery.mCustomScrollbar.concat.min.js"%}"></script>


	    <script src="{% static "js/script.min.js"%}"></script>

		{% block extra_head %}
		{% endblock %}

	</head>

	<body id="page-top">
		{% block body %}
		{% endblock %}
        {% block form %}
        {% endblock %}

		{% block footer_base %}

            <div id="footer">
                <div class="inner">
                    <div class="container">
                        <div class="row top-margin-footer">
                            <div class="col-md-12 text-center">
                                <a href="#page-top" id="scroll-to-top" class="btn btn-secondary scrolltop"><i class="fa fa-chevron-up"></i></a>
                            </div>
                        </div>
                        <div class="row">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-8">
                        {% block footer %}
                            <ul class="nav nav-justified top-line">
                                <li><a href="/help">Help</a></li>
                                <li><a href="/about">About</a></li>
                                <li><a href="/privacy">Privacy</a></li>
                                <li><a href="/terms">Terms</a></li>
                                <li><a href="/contact">Contact</a></li>
                            </ul>
                        {% endblock %}
                        </div>
                        <div class="col-lg-2"></div>
                        </div>
                    </div>
                </div>
            </div>

		{% endblock %}
		
		<!-- Jquery  ui-->
		<script src="{% static "js/jquery-ui-1.10.4.custom.min.js"%}"></script>
		<script src="{% static "js/jquery.easing.js"%}"></script>
	    <script src="{% static "js/imagesloaded.pkgd.min.js"%}"></script>
	    <script src="{% static "js/masonry.pkgd.min.js"%}"></script>
	    <script src="{% static "js/magnificpopup.min.js"%}"></script>
	    <script src="{% static "js/libraries/hammer.js"%}"></script>
	    <script src="{% static "js/libraries/jquery.flexslider.js"%}"></script>
	    <script src="{% static "js/libraries/jquery.isotope.js"%}"></script>
	    <script src="{% static "js/libraries/jquery.mediabox.js"%}"></script>
	    <script src="{% static "js/libraries/jquery.transit.js"%}"></script>
	    <script src="{% static "js/libraries/libraries.js"%}"></script>
	    <script src="{% static "js/libraries/main-script.js"%}"></script>
	    <script src="{% static "js/libraries/smooth.scroll.min.js"%}"></script>
        {% block extra_js %} {% endblock %}

	</body>
</html>
